@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply md:text-2xl text-xl font-bold mt-6;
}
.container {
  @apply font-Overpass max-w-[23rem] p-7 m-6 rounded-3xl bg-gradient-to-b from-blue2 to-blue3 text-white text-base;
}
.btn {
  @apply w-full transition-colors md:text-base text-sm bg-primary hover:bg-white hover:text-primary uppercase rounded-3xl font-medium tracking-widest h-10 mt-6 mb-2;
}
.main {
  @apply md:text-sm text-xs font-normal mt-3 mb-6 text-grey1;
}
.rate {
  @apply flex flex-1 p-3 md:w-12 w-10 font-normal md:text-base text-xs justify-center items-center text-grey1 bg-blue1 rounded-[100%] transition-colors peer-hover:bg-grey2
    peer-checked:bg-primary
    peer-hover:peer-checked:bg-primary
    peer-hover:text-white peer-checked:text-white select-none;
}
.rating {
  @apply flex flex-wrap justify-between w-full;
}
.star {
  @apply w-[2.3rem];
}
.hide {
  @apply opacity-0 absolute;
}
.rate-label {
  @apply mx-auto text-sm w-48 h-8 mt-6 rounded-2xl text-orange-400;
}
